<br>
<div class="buttons is-centered">
  <button id="qb1" class="button is-primary" value="Publix">Publix</button>
  <button id="qb2" class="button is-primary" value="Costco">Costco</button>
  <button id="qb3" class="button is-primary" Value="Test">Abcdefghij</button>
  <button id="qb4" class="button is-primary" value="Amazon">Amazon</button>
  <button id="qb5" class="button is-primary" value="Brisas">Las Brisas</button>
  <button id="qb6" class="button is-primary" value="Test2">Abcdefghij</button>
</div>
