<div class="buttons is-centered">
  <button id="qb1" class="button is-primary ov-width-qb" value="Publix">Publix</button>
  <button id="qb2" class="button is-primary ov-width-qb" value="Costco">Costco</button>
  <button id="qb3" class="button is-primary ov-width-qb" Value="Test">Abcdefghij</button>
  <button id="qb4" class="button is-primary ov-width-qb" value="Amazon">Amazon</button>
  <button id="qb5" class="button is-primary ov-width-qb" value="Brisas">Las Brisas</button>
  <button id="qb6" class="button is-primary ov-width-qb" value="Test2">Abcdefghij</button>
</div>
<app-list></app-list>