<p>{{ isLogin }} {{ user }}</p>
<table class="table is-striped is-hoverable" id="table">
    <thead>
        <th hidden class="t-id">ID</th>
        <th class="t-when ov-width-when">When</th>
        <th class="t-what ov-width-what">What</th>
        <th class="t-where ov-width-where">Where</th>
        <th class="t-edit ov-width-edit">Edit</th>
        <th class="t-delete ov-width-delete">Delete</th>
        <th class="t-bought ov-width-bought">Bought</th>
    </thead>
    <tbody></tbody>
</table>