<div class="field is-horizontal ov-center">

  <input class="input is-medium is-primary ov-input-width ov-center-text" type="text" id="what-input" placeholder="buy what">

  <input class="input is-medium is-primary ov-input-width ov-center-text" type="text" id="where-input" placeholder="buy where">
</div>

<!-- <input placeholder="Search by store" id="search-input">
<!-- <button id="search-btn">Search</button>
    <button hidden id="clear-search-btn">Clear</button> -->
<!-- <div class="alert-box">
  <span class="alert-yellow" onclick="this.parentElement.style.display='none';">Item already on the
    list.</span>
</div> -->

<app-input-buttons></app-input-buttons>
